table {
     margin: 0 auto;
}

table, th, td {
     border: 1px solid black;
     width: 50px;
     height: 50px;
     text-align: center;
}
 .azure {
     background-color: azure;
}
 .beige {
     background-color: beige;
}
 .bisque {
     background-color: bisque;
}
 .burlywood {
     background-color: burlywood;
}
 .chartreuse {
     background-color: chartreuse;
}
 .cyan {
     background-color: cyan;
}
 .purple {
     background-color: purple;
}
 .brown {
     background-color: brown;
}
 .black {
     background-color: black;
}
 .grey {
     background-color: grey;
}
 .hotpink {
     background-color: hotpink;
}
 .tomato {
     background-color: tomato;
}
 .palegreen {
     background-color: palegreen;
}
 .mediumvioletred {
     background-color: mediumvioletred;
}
 .greenyellow {
     background-color: greenyellow;
}
 .moccasin {
     background-color: moccasin;
}
.magenta {
     background-color: magenta;
}
.thistle {
     background-color: thistle;
}
.orange {
     background-color: orange;
}
