header {
  border: 8px groove magenta;
  padding: 12px;
  color: black;
  background-color: #DDDDFF;
  text-align: center;
  justify-content: center;
}
nav {
  border: 6px ridge violet;
  padding: 9px;
  color: #222222;
  background-color: #AAAABB;
  text-align: center;
  justify-content: center;
}

  
