body {
  background: conic-gradient(
    from 90deg,
    hsl(0 100% 50%),
    hsl(72 100% 50%),
    hsl(144 100% 50%),
    hsl(216 100% 50%),
    hsl(288 100% 50%),
    hsl(0 100% 50%)
  );
  clip-path: circle(50%);
  border: 1px dotted #c9c9ff;
  font-variant: small-caps;
  width: 120vw;
  height: 120vh
}
nav {
  background-color: #affbf2;
  justify-content: space-evenly;
  align-items: stretch;
  height: 50px;
  position: sticky;
  top: 100;
}
nav > button {
  color: #fbafe2;
  background-color: #affbf2;
  border-color: #affbf2;
  border-width: 3px;
  padding: 2px;
  height: 50px;
  width: 80px;
  align-items: stretch;
}
h1 {
  font-family: congenial,cursive;
  font-size: normal;
}
h4 {
  font-family:congenial,cursive;
  font-size: normal;
}
h4 > a > span {
  font-weight: 600;
  font-style: italic;
  color: black;
}
